@page "/"
@inject ToastService toastService

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>You haven't logged in, so there are no favorite movies</p>
    </NotAuthorized>
</AuthorizeView>

@if (MovieDetails?.Any() ?? false)
{
    <h2>Favorite Movies</h2>
    <div class="container">
        @for (int index = 0; index < MovieDetails.Count; index+=numCols) {
            <div class="row gy-3">
                <div class="col-md-@(12/numCols)">
                    <MovieDetails Movie="MovieDetails[index]" OnRemoveFavoriteMovie="RemoveFavoriteMovie" />
                        </div>
                @for (int col = 1; col < numCols-1; col++)
                {
                    if (index + col < MovieDetails.Count)
                    {
                        <div class="col-md-@(12/numCols)">
                            <MovieDetails Movie="MovieDetails[index + col]" OnRemoveFavoriteMovie="RemoveFavoriteMovie" />
                        </div>
                    }
                }
            </div>
        }
    </div>
}